.wrapper {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    z-index: 99;

    span {
        display: inline-block;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;

        animation: fade 3.5s infinite ease-in-out both;

        border: 1px solid black;
        background: white;

        margin-right: 2px;

        &:nth-child(1) {
            animation-delay: -1.5s;
        }

        &:nth-child(2) {
            animation-delay: -1.0s;
        }

        &:nth-child(3) {
            animation-delay: -0.5s;
        }
    }
}

@keyframes fade {

    0%,
    80%,
    100% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }
}

.mute {
    pointer-events: none;
    filter: blur(0.125rem);
}