<div [appTestId]="TestIds.Host">
  <form class="form-container" [formGroup]="zoneForm" (submit)="onSubmit()">
    <label for="name">Zone name:</label>
    <input
      id="name"
      type="text"
      formControlName="name"
      [appTestId]="TestIds.Name"
    />
    @if(zoneForm.controls.name.touched){
    <div class="errors">
      @if(zoneForm.controls.name.hasError('required')) {
      <div [appTestId]="TestIds.Errors">Zone name is required</div>
      } @if(zoneForm.controls.name.hasError('pattern')) {
      <div [appTestId]="TestIds.Errors">Can only contain latin letters, numbers and whitespace</div>
      } @if(zoneForm.controls.name.hasError('maxlength')) {
      <div [appTestId]="TestIds.Errors">Maximum length is 10</div>
      }
    </div>
    }

    <div class="point-group" formGroupName="pointA">
      <div>Point A</div>

      <input
        [appTestId]="TestIds.Coordinate"
        id="pointA.x"
        type="number"
        formControlName="x"
      />
      <input
        [appTestId]="TestIds.Coordinate"
        id="pointA.y"
        type="number"
        formControlName="y"
      />
    </div>
    <div class="errors">
      @for(error of getPointErrors(zoneForm.controls.pointA); track error) {
      <div [appTestId]="TestIds.Errors">{{ error }}</div>
      }
    </div>

    <div class="point-group" formGroupName="pointB">
      <div>Point B</div>

      <input
        [appTestId]="TestIds.Coordinate"
        id="pointB.x"
        type="number"
        formControlName="x"
      />
      <input
        [appTestId]="TestIds.Coordinate"
        id="pointB.y"
        type="number"
        formControlName="y"
      />
    </div>
    <div class="errors">
      @for(error of getPointErrors(zoneForm.controls.pointB); track error) {
      <div [appTestId]="TestIds.Errors">{{ error }}</div>
      }
    </div>

    <div class="point-group" formGroupName="pointC">
      <div>Point C</div>

      <input
        [appTestId]="TestIds.Coordinate"
        id="pointC.x"
        type="number"
        formControlName="x"
      />
      <input
        [appTestId]="TestIds.Coordinate"
        id="pointC.y"
        type="number"
        formControlName="y"
      />
    </div>
    <div class="errors">
      @for(error of getPointErrors(zoneForm.controls.pointC); track error) {
      <div [appTestId]="TestIds.Errors">{{ error }}</div>
      }
    </div>

    <div class="point-group" formGroupName="pointD">
      <div>Point D</div>

      <input
        [appTestId]="TestIds.Coordinate"
        id="pointD.x"
        type="number"
        formControlName="x"
      />
      <input
        [appTestId]="TestIds.Coordinate"
        id="pointD.y"
        type="number"
        formControlName="y"
      />
    </div>
    <div class="errors">
      @for(error of getPointErrors(zoneForm.controls.pointD); track error) {
      <div [appTestId]="TestIds.Errors">{{ error }}</div>
      }
    </div>
    <div class="errors">
      @if(zoneForm.touched && zoneForm.hasError('uniquePoints')){
      <div [appTestId]="TestIds.Errors">All points must be unique</div>
      }
    </div>
    <button class="btn-rect" type="submit" [appTestId]="TestIds.Submit">
      Create new zone
    </button>
  </form>
</div>
