<div class="container" [appTestId]="TestIds.Host">
  <div class="zones">
    @if(store.zones$ | async; as zones){
    <app-overlay [enabled]="(store.isCreating$ | async)!">
      <app-zone-form (createZone)="service.createZone($event)"></app-zone-form>
    </app-overlay>
    <div class="zone-list">
      @for(one of zones; track one.id) {
      <app-overlay [enabled]="(store.deletingZoneId$ | async) === one.id">
        <div class="zone-row" [appTestId]="TestIds.Row.Host">
          <div class="label">
            <b>{{ one.name }}</b><span>{{ zonePoints(one) }}</span>
          </div>
          <button class="btn-rect" (click)="service.deleteZone(one.id)" [appTestId]="TestIds.Row.Delete">
            Delete
          </button>
        </div>
      </app-overlay>
      } @empty {
      <div>No zones to display</div>
      }
    </div>
    } @else {
    <div>Loading data...</div>
    }
  </div>
  <app-overlay [enabled]="loadingImage">
    <canvas #canvas class="zone-canvas" [appTestId]="TestIds.Canvas"></canvas>
  </app-overlay>
</div>
